{% extends 'FiThnitek/baseFrontFiThnitek.html.twig' %}
{% block event %}

{% endblock %}

{% block container %}

        <section class="ad-post bg-gray py-5">
            <div class="container">
                <form method="post">
                    <!-- Post Your ad start -->
                    <fieldset class="border border-gary p-4 mb-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Post Your ad</h3>
                            </div>
                            <div class="col-lg-6">
                                <h6 class="font-weight-bold pt-4 pb-1"> Region</h6>
                                <select  id="inputGroupSelect" class="w-100" name="region">


                                    <option valeur="Ariana">Ariana</option>
                                    <option valeur="Beja">Baja</option>
                                    <option valeur="Ben Arous ">Ben Arous</option>
                                    <option valeur="Bizerte ">Bizerte </option>
                                    <option valeur="Gabes ">Gabes </option>
                                    <option valeur=" Gafsa">Gafsa </option>
                                    <option valeur=" Jendouba">Jendouba </option>
                                    <option valeur=" kairouan">kairouan </option>
                                    <option valeur=" kaserine"> kaserine</option>
                                    <option valeur=" keblili">kebili </option>
                                    <option valeur=" Kef">Kef </option>
                                    <option valeur=" kef"> Mahdia</option>
                                    <option valeur=" Manouba">Manouba </option>
                                    <option valeur=" Medenine"> Medenine</option>
                                    <option valeur="Monastir ">Monastir </option>
                                    <option valeur="Nabeul "> Nabeul</option>
                                    <option valeur=" Sidi Bouzid">Sidi Bouzid </option>
                                    <option valeur=" Siliana"> Siliana</option>
                                    <option valeur=" Sfax">Sfax </option>
                                    <option valeur="Sousse ">Sousse </option>
                                    <option valeur="Tataouine">Tataouine </option>
                                    <option valeur=" Touzer">Touzer </option>
                                    <option valeur=" Tunis"> Tunis</option>
                                    <option valeur=" Zaghouan"> Zaghouan</option>



                                </select>
                                <h6 class="font-weight-bold pt-4 pb-1">Lieu de depart
                                    :</h6>
                                <input type="text" class="border w-100 p-2 bg-white text-capitalize" value="{{ demande.lieudedepart }}"  required pattern="[0-9a-zA-Z- \-]{5-20}" name="lieud">
                                <h6 class="font-weight-bold pt-4 pb-1">Destination:</h6>
                                <input type="text" class="border w-100 p-2 bg-white text-capitalize" value="{{ demande.lieudarrive }}"  required pattern="[0-9a-zA-Z- \-]{5-20}"name="lieua">
                                <h6 class="font-weight-bold pt-4 pb-1"> Periode</h6>
                                <input type="time" class="border w-100 p-2 bg-white text-capitalize" value="{{ demande.periode }}"   required pattern="[0-9 \:]{5}" name="periode">
                                <h6 class="font-weight-bold pt-4 pb-1"> Date </h6>
                                <input  type="date" class="border w-100 p-2 bg-white text-capitalize" value="{{ demande.dateD }}"  required pattern="[0-9 \:]{8}" name="date" >

                            </div>


                        </div>
                    </fieldset>
                    <!-- Post Your ad end -->
                    <!-- submit button -->
                    <button type="submit" class="btn btn-primary d-block mt-2">Modifier Une Demande</button>
                </form>
            </div>
        </section>



{% endblock %}